{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block form_content %}
<p>
    {% blocktrans %}
    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p>
<form method="post" action="">
    {% csrf_token %}
     {{ form.non_field_errors }} 
    <p>{{ form.email.errors }}
     <div class="mdc-form-field">        
        <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">   	
        <input type="email" name="email" maxlength="254" required id="id_email" class="mdc-text-field__input" />
        <label for="id_email" class="mdc-text-field__label">Email</label>
       <div class="mdc-text-field__bottom-line"></div> 
      </div>
    </div></p>

     <p>  <button type="submit"
            class="mdc-button
                   mdc-button--raised
                   mdc-ripple-surface"
            data-mdc-auto-init="MDCRipple">
     Reset password
    </button></p> 
</form>
{% endblock %}