{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block form_content %}

{% if validlink %}
  <p>{% trans "Enter your new password below to reset your password:" %}</p>
  <form method="post" action="">
      {% csrf_token %}
      {{ form.non_field_errors }}

<p>{{ form.new_password1.errors }}
<div class="mdc-form-field">        
    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
		<input type="password" name="new_password1" required id="id_new_password1" class="mdc-text-field__input"/>
		<label for="id_new_password1" class="mdc-text-field__label"> New Password</label> 
		<div class="mdc-text-field__bottom-line"></div> 
    </div>
	    <p id="id_password1-helptext" class="mdc-text-field-helptext" aria-hidden="true">
	       Use at least one letter, one numeral, and eight characters.
	    </p>
    </div>
</p>
<p>{{ form.new_password2.errors }}
	<div class="mdc-form-field">        
    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
		<input type="password" name="new_password2" required id="id_new_password2" class="mdc-text-field__input"/>
		<label for="id_new_password2" class="mdc-text-field__label">Confirm password</label> 
		<div class="mdc-text-field__bottom-line"></div> 
    </div>
      <p id="id_password2-helptext" class="mdc-text-field-helptext" aria-hidden="true">
      	Enter the same password as before, for verification
	   </p>
    </div>
</p>
<p>  <button type="submit"
            class="mdc-button
                   mdc-button--raised
                   mdc-ripple-surface"
            data-mdc-auto-init="MDCRipple">
      Set password
    </button></p>
  </form>
{% else %}
  Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a>
{% endif %}
{% endblock %}
{# This is used by django.contrib.auth #}
